# Using Pandas

In [162]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
## to make it possible to display multiple output inside one cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

<b>load the data from the vehicles.csv file into pandas data frame

In [163]:
## Your Code here
file_path = "data/vehicles.csv"
cars = pd.read_csv(file_path)
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

First exploration of the dataset:

- How many observations does it have?
- Look at all the columns: do you understand what they mean?
- Look at the raw data: do you see anything weird?
- Look at the data types: are they the expected ones for the information the column contains?

In [164]:
## Your Code here
print( f'Number of Observations: {cars.count()[1]}')

cars[['Cylinders']]
# Why is it not int?

Number of Observations: 35952

       Cylinders
0            4.0
1            6.0
2            4.0
3            6.0
4            6.0
...          ...
35947        3.0
35948        3.0
35949        3.0
35950        3.0
35951        3.0

[35952 rows x 1 columns]

### Cleaning and wrangling data

- Some car brand names refer to the same brand. Replace all brand names that contain the word "Dutton" for simply "Dutton". If you find similar examples, clean their names too. Use `loc` with boolean indexing.

- Convert CO2 Emissions from Grams/Mile to Grams/Km

- Create a binary column that solely indicates if the transmission of a car is automatic or manual. Use `pandas.Series.str.startswith` and .

- convert MPG columns to km_per_liter

In [165]:
## Your Code here

cars.Make.value_counts().head()

Chevrolet    3643
Ford         2946
Dodge        2360
GMC          2347
Toyota       1836
Name: Make, dtype: int64

In [166]:
cars.loc[:,"Make"][(cars['Make']=='PAS Inc - GMC') | (cars['Make']=='PAS, Inc')]='PAS'
cars.loc[:,"Make"][(cars['Make']=='General Motors')] ='GMC'
cars.loc[:,"Make"][(cars['Make']=='E. P. Dutton, Inc.')] ='Dutton'
cars.Make.value_counts()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_14836\3256003019.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars.loc[:,"Make"][(cars['Make']=='PAS Inc - GMC') | (cars['Make']=='PAS, Inc')]='PAS'
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_14836\3256003019.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars.loc[:,"Make"][(cars['Make']=='General Motors')] ='GMC'
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_14836\3256003019.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars.loc[:,"Make"][(cars['Make']=='E. P. Dutton, Inc.')] ='Dutton'

Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2348
Toyota                                1836
BMW                                   1677
Mercedes-Benz                         1284
Nissan                                1253
Volkswagen                            1047
Mitsubishi                             950
Mazda                                  915
Audi                                   890
Porsche                                862
Honda                                  836
Jeep                                   829
Pontiac                                784
Subaru                                 781
Volvo                                  717
Hyundai                                662
Chrysler                               641
Buick                                  537
Mercury                                532
Suzuki                                 512
Cadillac                               508
Kia                                    493
Plymouth                               456
Saab                                   410
Isuzu                                  409
Lexus                                  397
Oldsmobile                             376
Infiniti                               345
Jaguar                                 343
MINI                                   320
Acura                                  302
Saturn                                 278
Lincoln                                273
Ferrari                                208
Rolls-Royce                            160
Eagle                                  156
Geo                                    144
Land Rover                             142
Aston Martin                           133
Bentley                                116
Maserati                               111
Lamborghini                            104
Scion                                   83
Peugeot                                 74
Daewoo                                  67
Ram                                     57
Lotus                                   53
Roush Performance                       53
Fiat                                    43
Alfa Romeo                              41
J.K. Motors                             36
Renault                                 33
Wallace Environmental                   32
Maybach                                 31
American Motors Corporation             22
smart                                   20
Hummer                                  19
Daihatsu                                17
CX Automotive                           16
Federal Coach                           14
Merkur                                  14
Spyker                                  13
McLaren Automotive                      13
Import Trade Services                   13
Sterling                                12
Bugatti                                  8
Yugo                                     8
Genesis                                  7
Mcevoy Motors                            6
Tecstar, LP                              6
Saleen                                   5
VPG                                      5
Bertone                                  5
Panther Car Company Limited              4
TVR Engineering Ltd                      4
Saleen Performance                       4
PAS                                      4
AM General                               4
Texas Coach Company                      4
Grumman Olson                            4
Vector                                   4
Autokraft Limited                        4
Dacia                                    3
BMW Alpina                               3
Evans Automobiles                        3
Bitter Gmbh and Co. Kg                   3
Consulier Industries Inc                 3
Morgan                                   3
Dabryan Coach Builders Inc               3
CCC Engineering                          2
SRT                                      2
Ruf Automobile Gmbh                      2
Pagani                                   2
Red Shift Ltd.                           2
Laforza Automobile Inc                   2
Quantum Technologies                     2
Pininfarina                              2
Bill Dovell Motor Car Company            2
Mobility Ventures LLC                    2
Volga Associated Automobile              1
Superior Coaches Div E.p. Dutton         1
Aurora Cars Ltd                          1
Vixen Motor Company                      1
Lambda Control Systems                   1
Shelby                                   1
S and S Coach Company  E.p. Dutton       1
JBA Motorcars, Inc.                      1
ASC Incorporated                         1
London Coach Co Inc                      1
London Taxi                              1
Isis Imports Ltd                         1
Mahindra                                 1
Import Foreign Auto Sales Inc            1
Grumman Allied Industries                1
Goldacre                                 1
Fisker                                   1
Panos                                    1
Panoz Auto-Development                   1
Excalibur Autos                          1
Environmental Rsch and Devp Corp         1
Dutton                                   1
Qvale                                    1
Name: Make, dtype: int64

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

In [167]:
cars.iloc[:, -2].name
pd.to_numeric(cars.iloc[:, -2])
cars["CO2 Emissions Grams/Km"]= cars.iloc[:, -2]*(1.60934 / 3.78541) 
cars.iloc[:, -1]

'CO2 Emission Grams/Mile'

0        522.764706
1        683.615385
2        555.437500
3        683.615385
4        555.437500
            ...
35947    244.000000
35948    243.000000
35949    244.000000
35950    246.000000
35951    255.000000
Name: CO2 Emission Grams/Mile, Length: 35952, dtype: float64

0        222.249678
1        290.634194
2        236.140282
3        290.634194
4        236.140282
            ...
35947    103.734856
35948    103.309713
35949    103.734856
35950    104.585141
35951    108.411427
Name: CO2 Emissions Grams/Km, Length: 35952, dtype: float64

### Gathering insights:

- How many car makers are there? How many models? Which car maker has the most cars in the dataset?

- When were these cars made? How big is the engine of these cars?

- What's the frequency of different transmissions, drivetrains and fuel types?

- What's the car that consumes the least/most fuel?

In [213]:
cars.Make.value_counts().index[0]
cars.Make==cars.Make.value_counts().index[0]
Mean_Engine_Size_Chevrolet = np.mean(cars.loc[:,'Engine Displacement'][cars.Make==cars.Make.value_counts().index[0]])

'Chevrolet'

0        False
1        False
2        False
3        False
4        False
         ...
35947    False
35948    False
35949    False
35950    False
35951    False
Name: Make, Length: 35952, dtype: bool

In [214]:
# Your Code here

print(f'The number of car makers is {cars.Make.value_counts().count()}.')
print(f'The number of models in total is {cars.Model.count()}.')
print(f'{cars.Make.value_counts().index[0]} has the most cars in the dataset. They have {cars.Model[cars.Make==cars.Make.value_counts().index[0]].count()} models')
print(f'The cars of {cars.Make.value_counts().index[0]} where produced between {cars.Year[cars.Make==cars.Make.value_counts().index[0]].sort_values().iloc[0]} and {cars.Year[cars.Make==cars.Make.value_counts().index[0]].sort_values().iloc[-1]}')
print(f'The cars of {cars.Make.value_counts().index[0]} have a mean engine size of {Mean_Engine_Size_Chevrolet}.')

The number of car makers is 125.
The number of models in total is 35952.
Chevrolet has the most cars in the dataset. They have 3643 models
The cars of Chevrolet where produced between 1984 and 2017
The cars of Chevrolet have a mean engine size of 4.111501509744611.

What brand has the worse CO2 Emissions on average?

Hint: use the function `sort_values()`

In [169]:
## your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission on average?

In [170]:
## Your Code is here