In [1]:
import pandas as pd
import getpass
import sqlalchemy as sa

### Connecting to Mysql and creating db

In [2]:
driver = 'mysql+pymysql'
user = 'root'
password = getpass.getpass(prompt='Your password:'"")
ip = 'localhost'

Your password:········

In [3]:
connection_string = f'{driver}://{user}:{password}@{ip}'

In [4]:
db_connection = sa.create_engine(connection_string)

['bank', 'house_price_regression', 'information_schema', 'mysql', 'olist', 'performance_schema', 'sakila', 'sys', 'world']

## 1. Create a database called `house_price_regression`.

In [8]:
querry = """
CREATE DATABASE IF NOT EXISTS house_price_regression
"""

In [9]:
db_connection.execute(querry)
db_connection.execute("commit")

In [10]:
insp = sa.inspect(db_connection)
db_list = insp.get_schema_names()
print(db_list)

['bank', 'house_price_regression', 'information_schema', 'mysql', 'olist', 'performance_schema', 'sakila', 'sys', 'world']

## 2. Create a table `house_price_data` with the same columns as given in the csv file. Please make sure you use the correct data types for the columns. You can find the names of the headers for the table in the `regression_data.xls` file. Use the same column names as the names in the excel file. Please make sure you use the correct data types for each of the columns.

In [19]:
house_price_df = pd.read_excel('C:/Users/Lenovo/Documents/GitHub/IronChristoph/MidTerm_Project/Data/Data_MidTerm_Project_Real_State_Regression.xls')
house_price_df.info()
house_price_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  datetime64[ns]
 2   bedrooms       21597 non-null  int64
 3   bathrooms      21597 non-null  float64
 4   sqft_living    21597 non-null  int64
 5   sqft_lot       21597 non-null  int64
 6   floors         21597 non-null  float64
 7   waterfront     21597 non-null  int64
 8   view           21597 non-null  int64
 9   condition      21597 non-null  int64
 10  grade          21597 non-null  int64
 11  sqft_above     21597 non-null  int64
 12  sqft_basement  21597 non-null  int64
 13  yr_built       21597 non-null  int64
 14  yr_renovated   21597 non-null  int64
 15  zipcode        21597 non-null  int64
 16  lat            21597 non-null  float64
 17  long           21597 non-null  float64
 18  sqft_living15  21597 non-null  int64
 19  sqft_lot15     21597 non-null  int64
 20  price          21597 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(16)
memory usage: 3.5 MB

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,7129300520,2014-10-13,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900
1,6414100192,2014-12-09,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
2,5631500400,2015-02-25,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
3,2487200875,2014-12-09,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
4,1954400510,2015-02-18,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,2014-05-21,3,2.50,1530,1131,3.0,0,0,3,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,360000
21593,6600060120,2015-02-23,4,2.50,2310,5813,2.0,0,0,3,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,400000
21594,1523300141,2014-06-23,2,0.75,1020,1350,2.0,0,0,3,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,402101
21595,291310100,2015-01-16,3,2.50,1600,2388,2.0,0,0,3,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,400000
21596,1523300157,2014-10-15,2,0.75,1020,1076,2.0,0,0,3,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,325000

## 3. Import the data from the csv file into the table. Before you import the data into the empty table, make sure that you have deleted the headers from the csv file. (in this case we have already deleted the header names from the csv files).  To not modify the original data, if you want you can create a copy of the csv file as well. Note you might have to use the following queries to give permission to SQL to import data from csv files in bulk

In [17]:
house_price_df.to_sql(name="house_price_data", con=db_connection, schema='house_price_regression' )

21597

In [29]:
table_info = db_connection.execute("""SELECT *
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'house_price_data'
ORDER BY ORDINAL_POSITION

""")
pd.DataFrame(table_info)

,TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,COLUMN_NAME,ORDINAL_POSITION,COLUMN_DEFAULT,IS_NULLABLE,DATA_TYPE,CHARACTER_MAXIMUM_LENGTH,CHARACTER_OCTET_LENGTH,...,DATETIME_PRECISION,CHARACTER_SET_NAME,COLLATION_NAME,COLUMN_TYPE,COLUMN_KEY,EXTRA,PRIVILEGES,COLUMN_COMMENT,GENERATION_EXPRESSION,SRS_ID
0,def,house_price_regression,house_price_data,index,1,None,YES,bigint,None,None,...,NaN,None,None,bigint,MUL,,"select,insert,update,references",,,None
1,def,house_price_regression,house_price_data,id,2,None,YES,bigint,None,None,...,NaN,None,None,bigint,,,"select,insert,update,references",,,None
2,def,house_price_regression,house_price_data,date,3,None,YES,datetime,None,None,...,0.0,None,None,datetime,,,"select,insert,update,references",,,None
3,def,house_price_regression,house_price_data,bedrooms,4,None,YES,bigint,None,None,...,NaN,None,None,bigint,,,"select,insert,update,references",,,None
4,def,house_price_regression,house_price_data,bathrooms,5,None,YES,double,None,None,...,NaN,None,None,double,,,"select,insert,update,references",,,None
5,def,house_price_regression,house_price_data,sqft_living,6,None,YES,bigint,None,None,...,NaN,None,None,bigint,,,"select,insert,update,references",,,None
6,def,house_price_regression,house_price_data,sqft_lot,7,None,YES,bigint,None,None,...,NaN,None,None,bigint,,,"select,insert,update,references",,,None
7,def,house_price_regression,house_price_data,floors,8,None,YES,double,None,None,...,NaN,None,None,double,,,"select,insert,update,references",,,None
8,def,house_price_regression,house_price_data,waterfront,9,None,YES,bigint,None,None,...,NaN,None,None,bigint,,,"select,insert,update,references",,,None
9,def,house_price_regression,house_price_data,view,10,None,YES,bigint,None,None,...,NaN,None,None,bigint,,,"select,insert,update,references",,,None
10,def,house_price_regression,house_price_data,condition,11,None,YES,bigint,None,None,...,NaN,None,None,bigint,,,"select,insert,update,references",,,None
11,def,house_price_regression,house_price_data,grade,12,None,YES,bigint,None,None,...,NaN,None,None,bigint,,,"select,insert,update,references",,,None
12,def,house_price_regression,house_price_data,sqft_above,13,None,YES,bigint,None,None,...,NaN,None,None,bigint,,,"select,insert,update,references",,,None
13,def,house_price_regression,house_price_data,sqft_basement,14,None,YES,bigint,None,None,...,NaN,None,None,bigint,,,"select,insert,update,references",,,None
14,def,house_price_regression,house_price_data,yr_built,15,None,YES,bigint,None,None,...,NaN,None,None,bigint,,,"select,insert,update,references",,,None
15,def,house_price_regression,house_price_data,yr_renovated,16,None,YES,bigint,None,None,...,NaN,None,None,bigint,,,"select,insert,update,references",,,None
16,def,house_price_regression,house_price_data,zipcode,17,None,YES,bigint,None,None,...,NaN,None,None,bigint,,,"select,insert,update,references",,,None
17,def,house_price_regression,house_price_data,lat,18,None,YES,double,None,None,...,NaN,None,None,double,,,"select,insert,update,references",,,None
18,def,house_price_regression,house_price_data,long,19,None,YES,double,None,None,...,NaN,None,None,double,,,"select,insert,update,references",,,None
19,def,house_price_regression,house_price_data,sqft_living15,20,None,YES,bigint,None,None,...,NaN,None,None,bigint,,,"select,insert,update,references",,,None
20,def,house_price_regression,house_price_data,sqft_lot15,21,None,YES,bigint,None,None,...,NaN,None,None,bigint,,,"select,insert,update,references",,,None
21,def,house_price_regression,house_price_data,price,22,None,YES,bigint,None,None,...,NaN,None,None,bigint,,,"select,insert,update,references",,,None

In [33]:
hp_table = db_connection.execute("SELECT * FROM house_price_regression.house_price_data")

pd.DataFrame(hp_table)

,index,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,0,7129300520,2014-10-13,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900
1,1,6414100192,2014-12-09,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
2,2,5631500400,2015-02-25,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
3,3,2487200875,2014-12-09,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
4,4,1954400510,2015-02-18,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,21592,263000018,2014-05-21,3,2.50,1530,1131,3.0,0,0,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,360000
21593,21593,6600060120,2015-02-23,4,2.50,2310,5813,2.0,0,0,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,400000
21594,21594,1523300141,2014-06-23,2,0.75,1020,1350,2.0,0,0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,402101
21595,21595,291310100,2015-01-16,3,2.50,1600,2388,2.0,0,0,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,400000
21596,21596,1523300157,2014-10-15,2,0.75,1020,1076,2.0,0,0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,325000

# SQL questions - regression

(Use sub queries or views wherever necessary)




:

```sql
SHOW VARIABLES LIKE 'local_infile'; -- This query would show you the status of the variable ‘local_infile’. If it is off, use the next command, otherwise you should be good to go

SET GLOBAL local_infile = 1;
```

4.  Select all the data from table `house_price_data` to check if the data was imported correctly
5.  Use the alter table command to drop the column `date` from the database, as we would not use it in the analysis with SQL. Select all the data from the table to verify if the command worked. Limit your returned results to 10.
6.  Use sql query to find how many rows of data you have.
7.  Now we will try to find the unique values in some of the categorical columns:

    - What are the unique values in the column `bedrooms`?
    - What are the unique values in the column `bathrooms`?
    - What are the unique values in the column `floors`?
    - What are the unique values in the column `condition`?
    - What are the unique values in the column `grade`?

8.  Arrange the data in a decreasing order by the price of the house. Return only the IDs of the top 10 most expensive houses in your data.
9.  What is the average price of all the properties in your data?
10. In this exercise we will use simple group by to check the properties of some of the categorical variables in our data

    - What is the average price of the houses grouped by bedrooms? The returned result should have only two columns, bedrooms and Average of the prices. Use an alias to change the name of the second column.
    - What is the average `sqft_living` of the houses grouped by bedrooms? The returned result should have only two columns, bedrooms and Average of the `sqft_living`. Use an alias to change the name of the second column.
    - What is the average price of the houses with a waterfront and without a waterfront? The returned result should have only two columns, waterfront and `Average` of the prices. Use an alias to change the name of the second column.
    - Is there any correlation between the columns `condition` and `grade`? You can analyse this by grouping the data by one of the variables and then aggregating the results of the other column. Visually check if there is a positive correlation or negative correlation or no correlation between the variables.

        You might also have to check the number of houses in each category (ie number of houses for a given `condition`) to assess if that category is well represented in the dataset to include it in your analysis. For eg. If the category is under-represented as compared to other categories, ignore that category in this analysis

11. One of the customers is only interested in the following houses:

    - Number of bedrooms either 3 or 4
    - Bathrooms more than 3
    - One Floor
    - No waterfront
    - Condition should be 3 at least
    - Grade should be 5 at least
    - Price less than 300000

    For the rest of the things, they are not too concerned. Write a simple query to find what are the options available for them?

12. Your manager wants to find out the list of properties whose prices are twice more than the average of all the properties in the database. Write a query to show them the list of such properties. You might need to use a sub query for this problem.
13. Since this is something that the senior management is regularly interested in, create a view called `Houses_with_higher_than_double_average_price` of the same query.
14. Most customers are interested in properties with three or four bedrooms. What is the difference in average prices of the properties with three and four bedrooms? In this case you can simply use a group by to check the prices for those particular houses
15. What are the different locations where properties are available in your database? (distinct zip codes)
16. Show the list of all the properties that were renovated.
17. Provide the details of the property that is the 11th most expensive property in your database.