In [46]:
import pandas as pd

In [47]:


file1 = pd.read_csv('Data/file1.csv')

file2 = pd.read_csv('Data/file2.csv')

file3 = pd.read_csv('Data/file3.csv')
file_list = [file1, file2, file3]

In [48]:
list(map(lambda x: x.columns, file_list))

[Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
        'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
        'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
       dtype='object'),
 Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
        'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
        'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
       dtype='object'),
 Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
        'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
        'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
       dtype='object')]

In [49]:
list(map(len, file_list))

[4008, 996, 7070]

In [50]:
def lower_case_column_names(hk_df):
    hk_df.columns=[i.lower() for i in hk_df.columns]
    return hk_df

list(map(lower_case_column_names, file_list))

[     customer          st gender             education  \
 0     RB50392  Washington    NaN                Master
 1     QZ44356     Arizona      F              Bachelor
 2     AI49188      Nevada      F              Bachelor
 3     WW63253  California      M              Bachelor
 4     GA49547  Washington      M  High School or Below
 ...       ...         ...    ...                   ...
 4003      NaN         NaN    NaN                   NaN
 4004      NaN         NaN    NaN                   NaN
 4005      NaN         NaN    NaN                   NaN
 4006      NaN         NaN    NaN                   NaN
 4007      NaN         NaN    NaN                   NaN

      customer lifetime value   income  monthly premium auto  \
 0                        NaN      0.0                1000.0
 1                 697953.59%      0.0                  94.0
 2                1288743.17%  48767.0                 108.0
 3                 764586.18%      0.0                 106.0
 4                 536307.65%  36357.0                  68.0
 ...                      ...      ...                   ...
 4003                     NaN      NaN                   NaN
 4004                     NaN      NaN                   NaN
 4005                     NaN      NaN                   NaN
 4006                     NaN      NaN                   NaN
 4007                     NaN      NaN                   NaN

      number of open complaints     policy type  vehicle class  \
 0                       1/0/00   Personal Auto  Four-Door Car
 1                       1/0/00   Personal Auto  Four-Door Car
 2                       1/0/00   Personal Auto   Two-Door Car
 3                       1/0/00  Corporate Auto            SUV
 4                       1/0/00   Personal Auto  Four-Door Car
 ...                        ...             ...            ...
 4003                       NaN             NaN            NaN
 4004                       NaN             NaN            NaN
 4005                       NaN             NaN            NaN
 4006                       NaN             NaN            NaN
 4007                       NaN             NaN            NaN

       total claim amount
 0               2.704934
 1            1131.464935
 2             566.472247
 3             529.881344
 4              17.269323
 ...                  ...
 4003                 NaN
 4004                 NaN
 4005                 NaN
 4006                 NaN
 4007                 NaN

 [4008 rows x 11 columns],
     customer          st gender education customer lifetime value  income  \
 0    GS98873     Arizona      F  Bachelor              323912.47%   16061
 1    CW49887  California      F    Master              462680.11%   79487
 2    MY31220  California      F   College              899704.02%   54230
 3    UH35128      Oregon      F   College             2580706.30%   71210
 4    WH52799     Arizona      F   College              380812.21%   94903
 ..       ...         ...    ...       ...                     ...     ...
 991  HV85198     Arizona      M    Master              847141.75%   63513
 992  BS91566     Arizona      F   College              543121.91%   58161
 993  IL40123      Nevada      F   College              568964.41%   83640
 994  MY32149  California      F    Master              368672.38%       0
 995  SA91515  California      M  Bachelor              399258.39%       0

      monthly premium auto number of open complaints  total claim amount  \
 0                      88                    1/0/00          633.600000
 1                     114                    1/0/00          547.200000
 2                     112                    1/0/00          537.600000
 3                     214                    1/1/00         1027.200000
 4                      94                    1/0/00          451.200000
 ..                    ...                       ...                 ...
 991                    70                    1/0/00          185.667213
 992                    68                    1/0/00          140.747286
 993                    70                    1/0/00          471.050488
 994                    96                    1/0/00           28.460568
 995                   111                    1/0/00          700.349052

         policy type  vehicle class
 0     Personal Auto  Four-Door Car
 1      Special Auto            SUV
 2     Personal Auto   Two-Door Car
 3     Personal Auto     Luxury Car
 4    Corporate Auto   Two-Door Car
 ..              ...            ...
 991   Personal Auto  Four-Door Car
 992  Corporate Auto  Four-Door Car
 993  Corporate Auto   Two-Door Car
 994   Personal Auto   Two-Door Car
 995   Personal Auto            SUV

 [996 rows x 11 columns],
      customer       state  customer lifetime value             education  \
 0     SA25987  Washington              3479.137523  High School or Below
 1     TB86706     Arizona              2502.637401                Master
 2     ZL73902      Nevada              3265.156348              Bachelor
 3     KX23516  California              4455.843406  High School or Below
 4     FN77294  California              7704.958480  High School or Below
 ...       ...         ...                      ...                   ...
 7065  LA72316  California             23405.987980              Bachelor
 7066  PK87824  California              3096.511217               College
 7067  TD14365  California              8163.890428              Bachelor
 7068  UP19263  California              7524.442436               College
 7069  Y167826  California              2611.836866               College

      gender  income  monthly premium auto  number of open complaints  \
 0         M       0                   104                          0
 1         M       0                    66                          0
 2         F   25820                    82                          0
 3         F       0                   121                          0
 4         M   30366                   101                          2
 ...     ...     ...                   ...                        ...
 7065      M   71941                    73                          0
 7066      F   21604                    79                          0
 7067      M       0                    85                          3
 7068      M   21941                    96                          0
 7069      M       0                    77                          0

          policy type  total claim amount  vehicle class
 0      Personal Auto          499.200000   Two-Door Car
 1      Personal Auto            3.468912   Two-Door Car
 2      Personal Auto          393.600000  Four-Door Car
 3      Personal Auto          699.615192            SUV
 4      Personal Auto          484.800000            SUV
 ...              ...                 ...            ...
 7065   Personal Auto          198.234764  Four-Door Car
 7066  Corporate Auto          379.200000  Four-Door Car
 7067  Corporate Auto          790.784983  Four-Door Car
 7068   Personal Auto          691.200000  Four-Door Car
 7069  Corporate Auto          369.600000   Two-Door Car

 [7070 rows x 11 columns]]

In [51]:
def rename_columns(hk_df):
    hk_df.rename(columns={'st':'state'}, inplace=True )
    return hk_df

list(map(rename_columns, file_list))

[     customer       state gender             education  \
 0     RB50392  Washington    NaN                Master
 1     QZ44356     Arizona      F              Bachelor
 2     AI49188      Nevada      F              Bachelor
 3     WW63253  California      M              Bachelor
 4     GA49547  Washington      M  High School or Below
 ...       ...         ...    ...                   ...
 4003      NaN         NaN    NaN                   NaN
 4004      NaN         NaN    NaN                   NaN
 4005      NaN         NaN    NaN                   NaN
 4006      NaN         NaN    NaN                   NaN
 4007      NaN         NaN    NaN                   NaN

      customer lifetime value   income  monthly premium auto  \
 0                        NaN      0.0                1000.0
 1                 697953.59%      0.0                  94.0
 2                1288743.17%  48767.0                 108.0
 3                 764586.18%      0.0                 106.0
 4                 536307.65%  36357.0                  68.0
 ...                      ...      ...                   ...
 4003                     NaN      NaN                   NaN
 4004                     NaN      NaN                   NaN
 4005                     NaN      NaN                   NaN
 4006                     NaN      NaN                   NaN
 4007                     NaN      NaN                   NaN

      number of open complaints     policy type  vehicle class  \
 0                       1/0/00   Personal Auto  Four-Door Car
 1                       1/0/00   Personal Auto  Four-Door Car
 2                       1/0/00   Personal Auto   Two-Door Car
 3                       1/0/00  Corporate Auto            SUV
 4                       1/0/00   Personal Auto  Four-Door Car
 ...                        ...             ...            ...
 4003                       NaN             NaN            NaN
 4004                       NaN             NaN            NaN
 4005                       NaN             NaN            NaN
 4006                       NaN             NaN            NaN
 4007                       NaN             NaN            NaN

       total claim amount
 0               2.704934
 1            1131.464935
 2             566.472247
 3             529.881344
 4              17.269323
 ...                  ...
 4003                 NaN
 4004                 NaN
 4005                 NaN
 4006                 NaN
 4007                 NaN

 [4008 rows x 11 columns],
     customer       state gender education customer lifetime value  income  \
 0    GS98873     Arizona      F  Bachelor              323912.47%   16061
 1    CW49887  California      F    Master              462680.11%   79487
 2    MY31220  California      F   College              899704.02%   54230
 3    UH35128      Oregon      F   College             2580706.30%   71210
 4    WH52799     Arizona      F   College              380812.21%   94903
 ..       ...         ...    ...       ...                     ...     ...
 991  HV85198     Arizona      M    Master              847141.75%   63513
 992  BS91566     Arizona      F   College              543121.91%   58161
 993  IL40123      Nevada      F   College              568964.41%   83640
 994  MY32149  California      F    Master              368672.38%       0
 995  SA91515  California      M  Bachelor              399258.39%       0

      monthly premium auto number of open complaints  total claim amount  \
 0                      88                    1/0/00          633.600000
 1                     114                    1/0/00          547.200000
 2                     112                    1/0/00          537.600000
 3                     214                    1/1/00         1027.200000
 4                      94                    1/0/00          451.200000
 ..                    ...                       ...                 ...
 991                    70                    1/0/00          185.667213
 992                    68                    1/0/00          140.747286
 993                    70                    1/0/00          471.050488
 994                    96                    1/0/00           28.460568
 995                   111                    1/0/00          700.349052

         policy type  vehicle class
 0     Personal Auto  Four-Door Car
 1      Special Auto            SUV
 2     Personal Auto   Two-Door Car
 3     Personal Auto     Luxury Car
 4    Corporate Auto   Two-Door Car
 ..              ...            ...
 991   Personal Auto  Four-Door Car
 992  Corporate Auto  Four-Door Car
 993  Corporate Auto   Two-Door Car
 994   Personal Auto   Two-Door Car
 995   Personal Auto            SUV

 [996 rows x 11 columns],
      customer       state  customer lifetime value             education  \
 0     SA25987  Washington              3479.137523  High School or Below
 1     TB86706     Arizona              2502.637401                Master
 2     ZL73902      Nevada              3265.156348              Bachelor
 3     KX23516  California              4455.843406  High School or Below
 4     FN77294  California              7704.958480  High School or Below
 ...       ...         ...                      ...                   ...
 7065  LA72316  California             23405.987980              Bachelor
 7066  PK87824  California              3096.511217               College
 7067  TD14365  California              8163.890428              Bachelor
 7068  UP19263  California              7524.442436               College
 7069  Y167826  California              2611.836866               College

      gender  income  monthly premium auto  number of open complaints  \
 0         M       0                   104                          0
 1         M       0                    66                          0
 2         F   25820                    82                          0
 3         F       0                   121                          0
 4         M   30366                   101                          2
 ...     ...     ...                   ...                        ...
 7065      M   71941                    73                          0
 7066      F   21604                    79                          0
 7067      M       0                    85                          3
 7068      M   21941                    96                          0
 7069      M       0                    77                          0

          policy type  total claim amount  vehicle class
 0      Personal Auto          499.200000   Two-Door Car
 1      Personal Auto            3.468912   Two-Door Car
 2      Personal Auto          393.600000  Four-Door Car
 3      Personal Auto          699.615192            SUV
 4      Personal Auto          484.800000            SUV
 ...              ...                 ...            ...
 7065   Personal Auto          198.234764  Four-Door Car
 7066  Corporate Auto          379.200000  Four-Door Car
 7067  Corporate Auto          790.784983  Four-Door Car
 7068   Personal Auto          691.200000  Four-Door Car
 7069  Corporate Auto          369.600000   Two-Door Car

 [7070 rows x 11 columns]]

In [52]:
len(pd.concat(file_list, axis=0).columns)

11

In [53]:
cons_df = pd.concat(file_list, axis=0)

In [54]:
cons_df.drop(columns=["customer"], inplace=True)

In [55]:
cons_df

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,23406,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,California,F,College,3096.51,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,California,M,Bachelor,8163.89,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,California,M,College,7524.44,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,California,M,College,2611.84,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [56]:
for column in cons_df:
    print(column, '\n', cons_df[column].value_counts())

state
 California    3032
Oregon        2601
Arizona       1630
Nevada         882
Washington     768
Cali           120
AZ              74
WA              30
Name: state, dtype: int64
gender
 F         4560
M         4368
Male        40
female      30
Femal       17
Name: gender, dtype: int64
education
 Bachelor                2719
College                 2682
High School or Below    2616
Master                   752
Doctor                   344
Bachelors                 24
Name: education, dtype: int64
customer lifetime value
 5246.278375     6
4984.618655     6
26197.414980    6
20096.893370    6
13727.799720    6
               ..
9406.381948     1
9407.452895     1
9408.343519     1
9409.143498     1
7228.993348     1
Name: customer lifetime value, Length: 8211, dtype: int64
income
 0.0        2294
95697.0      13
61108.0       8
10621.0       8
26876.0       8
           ...
48329.0       1
56379.0       1
79157.0       1
96721.0       1
24743.0       1
Name: income, Length: 5655, dtype: int64
monthly premium auto
 65.0       351
66.0       312
71.0       304
73.0       303
63.0       290
          ...
147.0        1
35354.0      1
35353.0      1
281.0        1
163.0        1
Name: monthly premium auto, Length: 209, dtype: int64
number of open complaints
 0         5629
1/0/00    1626
1          765
2          283
1/1/00     247
3          230
4          119
1/2/00      93
1/3/00      60
5           44
1/4/00      29
1/5/00      12
Name: number of open complaints, dtype: int64
policy type
 Personal Auto     6792
Corporate Auto    1965
Special Auto       380
Name: policy type, dtype: int64
vehicle class
 Four-Door Car    4641
Two-Door Car     1896
SUV              1774
Sports Car        483
Luxury SUV        182
Luxury Car        161
Name: vehicle class, dtype: int64
total claim amount
 316.800000    119
292.800000    111
312.000000    108
350.400000    107
321.600000    104
             ...
820.018767      1
245.661376      1
346.319404      1
401.484738      1
232.945977      1
Name: total claim amount, Length: 5070, dtype: int64

## Cleaning State Column

In [57]:
cons_df.loc[:,'state'][cons_df['state']=='AZ']='Arizona'
cons_df.loc[:,'state'][cons_df['state']=='WA']='Washington'
cons_df.loc[:,'state'][cons_df['state']=='Cali']='California'

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [58]:
cons_df['state'].value_counts()

California    3152
Oregon        2601
Arizona       1704
Nevada         882
Washington     798
Name: state, dtype: int64

In [59]:
cons_df['customer lifetime value']

0               NaN
1        697953.59%
2       1288743.17%
3        764586.18%
4        536307.65%
           ...
7065          23406
7066        3096.51
7067        8163.89
7068        7524.44
7069        2611.84
Name: customer lifetime value, Length: 12074, dtype: object

## Cleaning column gender

In [ ]:
cons_df['gender'].value_counts()

In [ ]:
cons_df.loc[:, 'gender'][cons_df['gender']=='Male']='M'

In [ ]:
cons_df.loc[:, 'gender'][cons_df['gender']=='Femal']='F'
cons_df.loc[:, 'gender'][cons_df['gender']=='female']='F'

## Cleaning column costomer lifetime value

In [61]:
## remove % 'customer lifetime value'

cons_df['customer lifetime value'] = cons_df['customer lifetime value'].str.replace('%', "")

#change to numeric 

cons_df['customer lifetime value'] =  pd.to_numeric(cons_df['customer lifetime value'])
#files_all.info() # check

In [70]:
print(cons_df['customer lifetime value'])

0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
7065           NaN
7066           NaN
7067           NaN
7068           NaN
7069           NaN
Name: customer lifetime value, Length: 12074, dtype: float64

In [102]:
print(cons_df['number of open complaints'].value_counts())

0         5629
1/0/00    1626
1          765
2          283
1/1/00     247
3          230
4          119
1/2/00      93
1/3/00      60
5           44
1/4/00      29
1/5/00      12
Name: number of open complaints, dtype: int64

In [125]:
cons_df['number of open compaints'].apply(lambda x: re.match(r'/(\d)/', x) if type(x) == 'string')

SyntaxError: invalid syntax (<ipython-input-125-92cd3015a9b5>, line 1)

In [107]:
print(cons_df['number of open complaints'].value_counts())

0         5629
1/0/00    1626
1          765
2          283
1/1/00     247
3          230
4          119
1/2/00      93
1/3/00      60
5           44
1/4/00      29
1/5/00      12
Name: number of open complaints, dtype: int64